In [25]:
import pandas as pd
from glob import glob
from src.config import DEMOGRAPHIC_DIR, BIOMETRIC_DIR

In [5]:
files = glob("Dataset/api_data_aadhar_enrolment/*.csv")

In [6]:
combined_df = pd.concat([pd.read_csv(f) for f in files])

In [7]:
combined_df.shape

(1006029, 7)

In [8]:
combined_df.columns

Index(['date', 'state', 'district', 'pincode', 'age_0_5', 'age_5_17',
       'age_18_greater'],
      dtype='object')

In [10]:
combined_df['state'] = combined_df['state'].str.lower()

In [11]:
combined_df['state'].unique()

array(['meghalaya', 'karnataka', 'uttar pradesh', 'bihar', 'maharashtra',
       'haryana', 'rajasthan', 'punjab', 'delhi', 'madhya pradesh',
       'west bengal', 'assam', 'uttarakhand', 'gujarat', 'andhra pradesh',
       'tamil nadu', 'chhattisgarh', 'jharkhand', 'nagaland', 'manipur',
       'telangana', 'tripura', 'mizoram', 'jammu and kashmir',
       'chandigarh', 'sikkim', 'odisha', 'kerala',
       'the dadra and nagar haveli and daman and diu',
       'arunachal pradesh', 'himachal pradesh', 'goa',
       'dadra and nagar haveli and daman and diu', 'ladakh',
       'andaman and nicobar islands', 'orissa', 'pondicherry',
       'puducherry', 'lakshadweep', 'andaman & nicobar islands',
       'dadra & nagar haveli', 'dadra and nagar haveli', 'daman and diu',
       'jammu & kashmir', 'west  bengal', '100000', 'daman & diu',
       'west bangal', 'westbengal'], dtype=object)

In [12]:
combined_df['state'] = combined_df['state'].str.replace('west bangal', 'west bengal')
combined_df['state'] = combined_df['state'].str.replace('west  bengal', 'west bengal')
combined_df['state'] = combined_df['state'].str.replace('westbengal', 'west bengal')

combined_df['state'] = combined_df['state'].str.replace('andaman and nicobar islands', 'andaman & nicobar islands')

combined_df['state'] = combined_df['state'].str.replace('jammu and kashmir', 'jammu & kashmir')

combined_df['state'] = combined_df['state'].str.replace('the dadra and nagar haveli and daman and diu', 'daman & diu')
combined_df['state'] = combined_df['state'].str.replace('dadra and nagar haveli and daman and diu', 'daman & diu')
combined_df['state'] = combined_df['state'].str.replace('daman and diu', 'daman & diu')

combined_df['state'] = combined_df['state'].str.replace('dadra and nagar haveli', 'dadra & nagar haveli')

In [14]:
combined_df['state'] = combined_df['state'].str.replace('puducherry', 'pondicherry')

In [15]:
combined_df['state'].unique()

array(['meghalaya', 'karnataka', 'uttar pradesh', 'bihar', 'maharashtra',
       'haryana', 'rajasthan', 'punjab', 'delhi', 'madhya pradesh',
       'west bengal', 'assam', 'uttarakhand', 'gujarat', 'andhra pradesh',
       'tamil nadu', 'chhattisgarh', 'jharkhand', 'nagaland', 'manipur',
       'telangana', 'tripura', 'mizoram', 'jammu & kashmir', 'chandigarh',
       'sikkim', 'odisha', 'kerala', 'daman & diu', 'arunachal pradesh',
       'himachal pradesh', 'goa', 'ladakh', 'andaman & nicobar islands',
       'orissa', 'pondicherry', 'lakshadweep', 'dadra & nagar haveli',
       '100000'], dtype=object)

In [16]:
len(combined_df['state'].unique())

39

In [1]:
combined_df[combined_df['state'] == '100000']

NameError: name 'combined_df' is not defined

In [20]:
duplicates = combined_df[combined_df.duplicated(keep=False)]
duplicates

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater
5220,01-09-2025,pondicherry,Karaikal,609602,2,0,0
8138,01-09-2025,andaman & nicobar islands,South Andaman,744207,1,0,0
9101,01-09-2025,pondicherry,Karaikal,609602,2,0,0
12135,01-09-2025,andaman & nicobar islands,South Andaman,744103,1,0,0
12136,01-09-2025,andaman & nicobar islands,South Andaman,744207,1,0,0
...,...,...,...,...,...,...,...
499995,31-12-2025,telangana,Hyderabad,500045,4,5,1
499996,31-12-2025,telangana,Hyderabad,500057,0,2,0
499997,31-12-2025,telangana,Hyderabad,500061,4,2,0
499998,31-12-2025,telangana,Hyderabad,500062,1,4,0
499999,31-12-2025,telangana,Hyderabad,500095,0,1,0

In [21]:
combined_df = combined_df.drop_duplicates()
combined_df.shape

(983010, 7)

In [29]:
files = glob("Dataset/api_data_aadhar_demographic/*.csv")