In [2]:
import polars as pl

In [3]:
data = {
    "id" : [1,2,3,4,5],
    "name" : ['A', 'B', 'C', 'D', 'E'],
    "salary" : [100, 200, 300, 400, 500]
}

In [4]:
df = pl.DataFrame(data)
df

shape: (5, 3)
┌─────┬──────┬────────┐
│ id  ┆ name ┆ salary │
│ --- ┆ ---  ┆ ---    │
│ i64 ┆ str  ┆ i64    │
╞═════╪══════╪════════╡
│ 1   ┆ A    ┆ 100    │
│ 2   ┆ B    ┆ 200    │
│ 3   ┆ C    ┆ 300    │
│ 4   ┆ D    ┆ 400    │
│ 5   ┆ E    ┆ 500    │
└─────┴──────┴────────┘

In [5]:
result = df.filter(
    pl.col("salary") > 200
).select(
    [pl.col("name"), pl.col("salary")]
)

print(result)

shape: (3, 2)
┌──────┬────────┐
│ name ┆ salary │
│ ---  ┆ ---    │
│ str  ┆ i64    │
╞══════╪════════╡
│ C    ┆ 300    │
│ D    ┆ 400    │
│ E    ┆ 500    │
└──────┴────────┘

In [ ]:
df_new = df.with_columns(
    (pl.col("salary") * 100).alias("promotion")
)

df_new

shape: (5, 4)
┌─────┬──────┬────────┬───────────┐
│ id  ┆ name ┆ salary ┆ promotion │
│ --- ┆ ---  ┆ ---    ┆ ---       │
│ i64 ┆ str  ┆ i64    ┆ i64       │
╞═════╪══════╪════════╪═══════════╡
│ 1   ┆ A    ┆ 100    ┆ 10000     │
│ 2   ┆ B    ┆ 200    ┆ 20000     │
│ 3   ┆ C    ┆ 300    ┆ 30000     │
│ 4   ┆ D    ┆ 400    ┆ 40000     │
│ 5   ┆ E    ┆ 500    ┆ 50000     │
└─────┴──────┴────────┴───────────┘

In [ ]:
df_logic = df.with_columns(
    pl.when(pl.col("salary") > 300)
    .then(pl.lit("High"))
    .when(pl.col("salary") > 200)
    .then(pl.lit("Medium"))
    .otherwise(pl.lit("Low"))
    .alias("Salary_tier")
)

df_logic